doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/fontastic.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
    link(rel='stylesheet', href='/stylesheets/grasp_mobile_progress_circle-1.0.0.min.css')
    link(rel='stylesheet', href='/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css')
    link(rel='stylesheet', href='/stylesheets/style.default.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
 
  body
    block content
